go 1.21.5

use (
	./10_concurrency
	./11_select
	./12_reflection
	./1_hello_world
	./2_integers
	./3_iteration
	./4_arrays_and_slices
	./5_structures_methods_and_interfaces
	./6_pointers_and_errors
	./7_maps
	./8_dependency_injection
	./9_mocking
)
